@{
    ViewData["Title"] = "Home - Progetto DEMO API REST";
}

<div class="container">
    <div class="text-center row">
        <h1 class="mb-4">DEMO API REST - JWT Token</h1>
        <p class="lead">
            Questo progetto è una demo per mostrare come utilizzare i <strong>JWT Token</strong> con
            <strong>ASP.NET Core MVC</strong>, <strong>ASP.NET Core REST API</strong>, e <strong>Entity Framework</strong>.
        </p>
    </div>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <div class="row justify-content-md-center">
            <a href="@Url.Action("Index", "Articolo")" class="btn btn-primary btn-lg mt-4">Visualizza Articoli</a>
        </div>
    }
</div>


