@{
    ViewData["Title"] = "Home - Progetto DEMO API REST";
}

<div class="container d-flex flex-column justify-content-center align-items-center altezza">
    <div class="text-center">
        <h1 class="mb-4">DEMO API REST - JWT Token</h1>
        <p class="lead">
            Questo progetto è una demo per mostrare come utilizzare i <strong>JWT Token</strong> con
            <strong>ASP.NET Core MVC</strong>, <strong>ASP.NET Core REST API</strong>, e <strong>Entity Framework</strong>.
        </p>
    </div>
</div>



@section Styles
{
}
