@model IEnumerable<Demo.ModelDto.Articolo.ArticoloDto>

@{
    ViewData["Title"] = "Articolo";
}

<h1>Articolo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NOME ARTICOLO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.NomeArticolo
            </td>
        </tr>
}
    </tbody>
</table>
