@model Demo.ModelDto.Utente.LoginUtenteDto


<div class="container justify-content-center align-items-center" >
    <div class="card p-4 shadow" style="width: 22rem;">
        <h3 class="text-center mb-4">Accedi</h3>
        <form asp-action="Accesso" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Inserisci il tuo username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Inserisci la tua password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn w-100">Accedi</button>
        </form>
    </div>
</div>



@* Stile aggiuntivo *@
<style>
    .container {
        max-width: 400px;
    }

    .card {
        border-radius: 12px;
    }

    button {
        background-color: #343a40;
        border: none;
    }

        button:hover {
            opacity: 0.85;
        }
</style>